.itemsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  background-image: url("https://res.cloudinary.com/dcaa8vuwv/image/upload/v1718211336/seamless-pattern-with-groceries-vegetables-fruits-white-background-hand-drawn-vector_642878-865_no6wkj.png");
}
.itemsContainer {
  border: 1px solid;
  width: 90vw;
  height: fit-content;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 5px hsla(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%,0.1);
}
.itemTitle {
  display: flex;
  justify-content: center;
  color: white;
  box-shadow: 0px 2px 10px #000000;
}
.itemCardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}
.itemCard {
  border: 1px solid;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  /* outline: 1px solid; */
}
.itemCard:hover {
  /* outline-offset: 5px; */
  box-shadow: 0px 0px 20px;
}
.itemName {
  margin: 0%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.itemImg {
  width: 20vw;
  height: 20vw;
  display: block;
  /* margin: 10px; */
}
.itemContent {
  background-color: hsl(0, 0%, 100%,0.8);
  padding: 10px;
}
.productATC {
  width: 100%;
  padding: 5px;
  font-family: inherit;
  border: none;
  color: red;
  background-color: transparent;
  border: 2px solid red;
  font-weight: bold;
  border-radius: 10px;
}
.productATC:hover {
  color: white;
  background-color: red;
}

