.searchPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  background-image: url("https://res.cloudinary.com/dcaa8vuwv/image/upload/v1718211336/seamless-pattern-with-groceries-vegetables-fruits-white-background-hand-drawn-vector_642878-865_no6wkj.png");
}
.discount {
  z-index: 2;
  background-color: rgb(71, 111, 0);
  position: absolute;
  padding: 0.3em 0.5em;
  font-size: small;
  font-weight: bold;
  color: white;
  top: 0px;
  margin: 0px;
  border-radius: 0px 0px 10px 0px;
}
.searchContainer {
  width: 90vw;
  min-height: 80vh;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 25px 5px black;
}
.searchContainer2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 70vh;
  background-color: hsl(0, 0%, 100%, 0.1);
}
.searchTitle {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 0%;
  box-shadow: 0px 2px 10px black;
}
.searchCardLink {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}
.searchCardLink:hover {
  box-shadow: 0px 0px 20px;
}
.searchItemImg {
  display: block;
  width: 20vw;
  height: 20vw;
}
.searchItemName {
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.searchItemContent {
  padding: 10px;
  background-color: hsl(0, 0%, 100%, 0.9);
}
.emptySearch {
  height: inherit;
  display: flex;
  align-items: center;
}

